{% extends 'blog/base.html' %}
{% block title %} Home page {% endblock %}

{% block content %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
                <h1>About Page</h1>
                    <div class="container mt-5">
                        <h4>author:  Rustamov Akrom</h4><br>
                        <p style="color: indigo;">Mening post lar saytimga hush kelibsiz. Salom bu mening django fremvorkda qilgan saytim mening yoshim 16 tida va men Najot talim oquv
                          markazida <h6>7-oy</h6> davomida <h6>Bakend Python Django</h6> yonalishida talim olib kelyapman va bu mening internetga birinchi joylagan web-fremvorkim. Agar noboda mening saytimda muamo chiqib qolsa 
                          yoki nimadir tushinarsiz bolsa shahsan ozimga murojat qilishingiz munkin pasda mening telefon raqamim joylashgan bemalol savolar bolsa murojat 
                          qilishingiz munkin.

                        
                        </p><br>
                        date: 10.02.2024
                        <h6>tel:  +998 95 878 62 77</h6>

                    </div>

                </div>
                <div class="col-md-4">
                  <div class="content-section">
                    <h3>Our Sidebar</h3>
                    <p class='text-muted'>You can put any information here you'd like.
                      <ul class="list-group">
                        <li class="list-group-item list-group-item-light">Latest Posts</li>
                        <li class="list-group-item list-group-item-light">Announcements</li>
                        <li class="list-group-item list-group-item-light">Calendars</li>
                        <li class="list-group-item list-group-item-light">etc</li>
                      </ul>
                    </p>
                  </div>
                </div>
              </div>
            </main>
{% endblock %}
        