{% extends 'blog/base.html' %}
{% load static %}
{% block title %} User posts {% endblock %}

{% block content %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
              {% for message in massages %}
              <div class="alert alert-{{ message.tags }}">
                <h6>{{ message }}</h6>
              </div>
              {% endfor %}

            {% if post %}
            <h1 class="mb-3">Posts {{ request.user.first_name }} {{ request.user.last_name }}</h1>
            {% else %}
            <a href="{% url 'post_form' %}"><h3 style="color: blue;"><p>Create post</p></h3></a>
            {% endif %}
        
            {% for post in posts %}
             <article class="media content-section">
              <a href="{{ post.author.avatar.url }}">
                <img class="rounded-circle article-img" src="{{ post.author.avatar.url }}" alt="error in img">
              </a>
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="{% url 'user_posts' %}">{{ post.author.first_name }} {{ post.author.last_name }}</a>
                  <small class="text-muted">{{ post.publisher_at }}</small>
                </div>
                <h4><a class="article-title" href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h4>
                <p class="article-content">{{ post.content }}</p>
              </div>
            </article>
           {% endfor %}
          </div>
         {% include 'blog/base_last_post.html' %}
      </div>
      </main>
{% endblock %}